
/* Style the button to look like a pill */
.button-pill {
  display: inline-block;
  padding: 8px 16px;
  background-color: #716a61;
  color: #FAEBD7FF;
  border: 1px #d8cbba;
  border-radius: 20px; /* Adjust the border radius to control pill shape */
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-bottom: 10px; /* Adjust vertical spacing between pills */
}

/* Hover state */
.button-pill:hover {
  background-color: #938a7e;
}

/* Space between text and icon */
.button-pill span {
  margin-right: 10px;
}

/* Align icon vertically */
.button-pill svg {
  vertical-align: middle;
}

input[type="text"] {
  border:solid 1px var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  margin: 4px;
  display:inline-block;
  width: 100%;
}

.textbox {
  margin-top: 10px;
}
